/* Ryan DeVault - Purpose: application of styles related to article components */

.article-list {   
    border: 2px solid red;
    padding: 1em;
    overflow-y: scroll;
    height: 250px;
}

.article-list__top-row {
    margin-bottom: 0.25em;
}

.userArticle {
    margin-bottom: 1em;
    background-color: lime;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 8px 8px 10px grey;  
    
}

.friendArticle {
    margin-bottom: 1em;
    background-color: coral;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 8px 8px 10px grey; 
}

.article__buttons {
    display:flex;
    justify-content: space-around;
    margin: 5px 0;
}

.article__buttons button{
    border: none;
    background: none;
    cursor: pointer;
}

.article__buttons img{
    pointer-events: none;
}

.article__title, .article__url, .article__synopsis, .article__timestamp, .article__friend{
    padding: 5px;
}

.article__title {
  font-weight: bold;
}

.article-list__header {
    text-align: center;
}

.newArticleBtn-div {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}


/* -------------------------- */
/* Article Dialog Boxes Below */
/* -------------------------- */


#newArticleFormDialog, #editArticleFormDialog {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #aaaaaaaa;
  }
  
  .new-article-form, .edit-article-form {
    background-color: #ffffff;
    position: relative;
    top: 25%;
    max-width: 70%;
    margin: 0 auto;
  }
  
  .new-article-form__title, .edit-article-form__title {
    padding-top: 1em;
    /* border: 2px solid red; */
  }
  
  .new-article-form__top-row, .edit-article-form__top-row {
    display: flex;
    justify-content: flex-end;
  }
  
  .new-article-form__top-row h1, .edit-article-form__top-row h1 {
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
  
  .new-article-form__form, .edit-article-form__form {
    /* border: 2px solid red; */
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-article-form__form-group, .edit-article-form__form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
    margin-bottom: 0.25em;
  }
  
  #saveNewArticle, #editNewArticle {
    width: 130px;
    margin: 0.25em auto 0;
  }
  
  #new-article-form__close, #edit-article-form__close {
    align-self: flex-end;
  }