.event-list {
  border: 2px solid red;
  padding: 1em;
}

.event-list__top-row {
  margin-bottom: 0.25em;
}

.event-card{
  margin-bottom: 0.5em;
}

.userEvent {
  background-color: lime;
}

.friendEvent {
  background-color: coral;
}

#newEventFormDialog {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #aaaaaaaa;
}

.new-event-form {
  background-color: #ffffff;
  position: relative;
  top: 25%;
  max-width: 70%;
  margin: 0 auto;
}

.new-event-form__title {
  padding-top: 1em;
  /* border: 2px solid red; */
}

.new-event-form__top-row {
  display: flex;
  justify-content: flex-end;
}

.new-event-form__top-row h1 {
  font-size: 36px;
  width: 100%;
}

.new-event-form__form {
  /* border: 2px solid red; */
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-event-form__form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* max-width: 50%; */
  margin-bottom: 0.25em;
}

#saveNewEvent {
  width: 130px;
  margin: 0.25em auto 0;
}

#new-event-form__close {
  align-self: flex-end;
}