.event-list {
  border: 2px solid red;
  padding: 1em;
}

.event-list__top-row {
  margin-bottom: 0.25em;
}

.event-card{
  margin-bottom: 0.5em;
}

.userEvent {
  background-color: lime;
}

.friendEvent {
  background-color: coral;
}

#newEventFormDialog {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #aaaaaaaa;
}

.new-event-form {
  background-color: #ffffff;
  position: relative;
  top: 25%;
}

.new-event-form__form {
  display: flex;
  flex-direction: column;
  padding: 4em;
}