@import url('./events.css');
@import url('./articles.css');
@import url('./task.css');
@import url('./messages.css');
@import url('./friends.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 1em;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

.nutshell-main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nutshell-main-view > article {
  display: flex;
  flex-direction: row;
}

.friend-list__content {
  height: 100%;
}

.top-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1em;
}

.text-center {
  text-align: center;
}

.isHidden {
  display: none;
}
