/* // Component Author: Nicholas Douso // */
.task-container{
  padding: 1em;
  overflow-y: scroll;
  display: flex;
}

.task-list{
  padding:16px
}
.task__container{
  display:flex;
  flex-direction: column;
  margin-left: auto;
}

.task__card {
  background-color: white;
  margin: 5px; 
  border-radius: 7px;
}

.task__card--data{
  margin: 7px;
}

i{
  margin: auto;
}
.taskDate{
  display: flex ;
  flex-direction: row;
}

#taskDialog{
  
  height: 100%;
  width: auto;
  background-color: #000000aa; 
  
  
  
}


.taskForm{
  border:none;
  background-color: white;
  margin-top:30%;
  margin-left:auto;
  margin-right:auto;
  height:125px;
  width:600px;
  border-radius: 7px;
  border:none;
 
}
