.task-container{
  padding: 1em;
  overflow-y: scroll;
  display: flex;
}

.task-list{
  padding:16px
}
.task__container{
  display:flex;
  flex-direction: column;
  margin-left: auto;
}

.task__card {
  background-color: white;
  margin: 5px; 
  border-radius: 7px;
}

.task__card--data{
  margin: 7px;
}

i{
  margin: auto;
}
.taskDate{
  display: flex ;
  flex-direction: row;
}
